@font-face {
  font-family: "idroid";
  src: url(fontes/idroid.otf) format(opentype);
}

@font-face {
  font-family: "Bebas";
  src: url(fontes/BebasNeue-Regular.ttf) format(truetype);
}

* {
  margin: 0;
  padding: 0;
  
}

header {
  background-image: linear-gradient(to bottom, #83e1ad, #2fa866, #063d1e);

  min-height: 150px;
  text-align: center;
  font-family: "Bebas", cursive;

  padding: 40px;
  color: white;
}

header > h1 {
  
  font-size: 3em;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.336);
}
header > p {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  margin: auto;

}
nav {
  background-color: #063d1e;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 50px;
  min-width: 358px;
  padding-top: 10px;
}

a {
  color: rgb(255, 253, 253);
  padding: 10px;
  text-decoration: none;
  transition: 1s;
}

a:hover {
  background-color: #2fa866;
  color: #063d1e;
  border-radius: 3px;
}

body {
  background-color: #83e1ad;
}

main {
  min-width: 300px;
  max-width: 1000px;
  background-color: white;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.445);
  padding: 15px;

  padding-top: 15px;
}

#list {
  background-color: #83e1ad;
  margin-top: 10px;
   border-radius: 10px 10px 0px 0px;
}

#video {
  background-color: #063d1e;
  margin-right: -16px;
  margin-left: -16px;
  height: 354px;
  padding-top: 45px;
}

div > h3 {
  text-align: center;
  background-color: #059242;
  color: white;
  border-radius: 10px 10px 0px 0px;
  
}
div > p {
  text-align: center;
  text-align: justify;
  padding: 10px;
  
}

main img {
  width: 100%;
}

main  .pequeno {
  width: 50%;
  display: block;
  margin: auto;
}

article > h1 {
  font-family: "idroid", sans-serif;
  color: #059242;
  font-size: 1.8em;
}

aside > h2 {
  font-family: "idroid", sans-serif;

  color: #059242;
  background-image: linear-gradient(to right, #c5ebd6, white);
}

p {
  /*padding-top: 10px;
  padding-bottom: 15px;
  */
  padding: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

article ul{
  columns: 2;
  list-style-position: inside;
 list-style-type: "\2714\00A0\00A0"
  
}

footer {
  text-align: center;
  background-color: #063d1e;
  color: white;
  
  font-style: italic;
}
#hist::after {
  content: "🔗";
}

#hist {
  color: #0a4725;
  font-weight: bolder;
}
